* { margin:0;padding:0;border:0;outline:0;text-decoration:none;font-weight:inherit;font-style:inherit;color:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;list-style:none;border-collapse:collapse;border-spacing:0; -webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}

body { background:#f4f4f4; padding:0px; margin:0px; }
body > div { background: #111; min-height: calc(100vh - 60px); width: calc(100vw - 60px); margin: 15px; padding: 15px; font-family:'input_mono_regular', 'Monospaced','Courier New',courier; font-size:11px; color:white; position: relative; }
body > div > ul { padding-bottom: 15px; margin-bottom:15px; }
body div p { display:block; padding:0px 5px; line-height: 20px;}
body footer { border-top: 2px solid white; padding-top: 15px; margin-top: 15px;}
body footer a { text-decoration: underline; }
body .selected { background: white; color:black; }

/* portal */
body #portal main,
body #portal footer { max-width: 800px; }
body #portal #icon { display: block; width: 30px; height: 30px; background-image: url(../icon.white.svg); background-size: cover; background-repeat: no-repeat; position: absolute; bottom: 15px; right:15px; background-position: center; padding:0px }
body #portal ul { columns:1;  }
body #portal ul li { display:block; padding-left:5px; text-overflow: ellipsis; text-transform: lowercase;}
body #portal ul li:before { content: attr(id) ")"; }
body #portal ul li[data-type]::after { content:"<" attr(data-type) ">"; color:#555; }
body #portal ul li a { line-height: 20px; padding:0px 5px; text-decoration: none;}
body #portal ul li a:visited { color:#ccc; text-decoration: none;}
body #portal ul li a:hover { text-decoration: underline; }

/* hallway */

body #hallway #entries { display: flex; margin-top: 35px; }
body #hallway #entries > div { flex-grow: 1; }
body #entries aside { min-width: 200px; padding: 0 15px; line-height: 16px; display: none; }
body #entries aside ul { margin-bottom: 15px; }
body #entries aside #channels li:before, body #sidebar #categories li:before { content:'/'; }
body #entries aside #users li:before { content:'@'; }
body #entries aside span.right { color: #555; float: right; }
body #entries aside li { text-transform: lowercase; cursor: pointer; }
body #hallway #showbar { position: absolute;top: 0px;width: 92%;height: 50px;  background-image: url("data:image/svg+xml; utf8,<svg xmlns='http://www.w3.org/2000/svg' width='22' height='22'><path d='M11,4 L11,18 M4,4 L 4,18 M18,4 L18,18' stroke='%23555' fill='none' stroke-width='2' stroke-linecap='round'/></svg>");background-repeat: no-repeat;background-position: right;background-size: 25px; }
body #hallway #hidebar { position: absolute;top: 0px;width: 100%;height: 50px;background-image: url("data:image/svg+xml; utf8,<svg xmlns='http://www.w3.org/2000/svg' width='22' height='22'><path d='M5,5 L17,17 M17,5 L5,17' stroke='%23555' fill='none' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/></svg>");background-repeat: no-repeat;background-position: left;background-size: 25px; }
body #hallway .entry { line-height: 16px; display: block; position: relative; padding-left:100px; }
body #hallway .entry .date { color: #555;display: block;float:right; margin-left:20px; padding-bottom: 16px;}
body #hallway .entry .author { font-family: 'input_mono_medium'; position: absolute;left: 0px;  }
body #hallway .entry .body { display: block;border-bottom: 1px solid #333;padding-bottom: 10px;margin-bottom: 10px; }
body #hallway .entry .body a { text-decoration: underline; }
body #hallway .entry .body .channel { display: inline-block;border-radius: 1px;font-family: 'input_mono_medium';color: #777; }
body #hallway .entry .body .user { display: inline-block;border-radius: 1px;font-family: 'input_mono_medium';color: #777; }
body #hallway .entry .body .user.local::before { content:'@';color: #777; }
body #hallway .entry .body .user.external::before { content:'^';color: #777; }
body #hallway .entry .body .tag { display: inline-block;border-radius: 1px;font-family: 'input_mono_medium';color: #777; }
body #hallway .entry.highlight .author { color:#555; }
body #hallway .entry:hover .author { color:#ccc; }
body #hallway .entry:hover .date { color:#ccc; }
body #hallway .entry:hover .body { color:#ccc; border-bottom-color: #555 }
body #hallway #footer { padding-left: 60px; background-image: url(../icon.white.svg); background-size: 40px; background-repeat: no-repeat; background-position: 0px 10px; border-top: 2px solid white; padding-top: 15px; margin-top: 15px; max-width: calc(100% - 300px); min-height: 45px; line-height: 15px;}

body #hallway #pagination { margin: 10px; text-align: center; }
body #hallway #pagination span { padding: 3px; margin: 2px; cursor: pointer; }

@media (min-width: 630px) {
  body #portal ul { columns: 3;}
  body #hallway #entries { margin-top: 0; }
  body #hallway #entries aside { display: block; }
  body #hallway #showbar { display: none; }
  body #hallway #hidebar { display: none; }
}

